<br>
<h2>About Us</h2>
<br>
<p>
We are an Ontario homegrown e-commerce website dedicated to providing the best plants you could ever come across! We have searched from the Sahara Dessert to the depths of the Amazon rain forrest for these fine, unique specimens. With a site developed by a team of extraordinary developers on the old but gold Ruby, and an inventory unmatched by any shop in the age of the machines, take a leaf of faith and find your green!
</p>
